<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h2 class="h2c">Create Your Own Sneaker</h2>
      <div class="input-group">

          <form class="input-group" action='/sneakers' method='post'>
            Sneaker Name:<input class="newInput"type="text" name="name" placeholder="Tubular Shadow" required/></br>
            Brand Name: <input class="newInput"type="text" name="brand" placeholder="Adidas" required/></br>
            Color: <input class="newInput"type="text" name="color" placeholder="Off White" required/></br>
            Release Date: <input class="newInput"type="text" name="release_date" placeholder="September 17, 2017" required/></br>
            Username: <input class="newInput"type="text" name="submitted_by" placeholder="sneakerhead" required/></br>
            Image: <input class="newInput" type="img" name="image" placeholder="Image URL"/><br/>

              <button type="submit">Create New Sneaker</button>
          </form>
      </div>
  </body>
</html>
