

<form ng-submit="ctrl.createTravel()">
    <div>
        <input type="text" ng-model="ctrl.createForm.destination" placeholder="Travel destination" />
    </div>
    <div>
        <input type="text" ng-model="ctrl.createForm.climate" placeholder="Travel climate" />
    </div>
    <div>
        <input type="text" ng-model="ctrl.createForm.dates" placeholder="Travel dates" />
    </div>
    <div>
        <input type="text" ng-model="ctrl.createForm.kid_friendly" placeholder="Travel Kid Friendly" />
    </div>
    <div>
        <input type="text" ng-model="ctrl.createForm.img" placeholder="Travel Image" />
    </div>
    <input type="submit" value="Create New Travel" />
</form>