<div class="details">


        <h4>
            <span> Destination: </span>{{ travel.destination }}</h4>
        <h6>
            <span> Climate: </span> {{ travel.climate }} </h6>
        <h6>
            <span> Kid Friendly:</span> {{ travel.kid_friendly }}</h6>
        <p>
            <span> Dates: </span> {{ travel.dates }}</p>
        <img style="width:100%;" ng-src="{{ travel.img }}" alt="Travel Image">
        <p>
            <span></span> {{ travel.description }}</p> -->

    <div class="flexList">
        <div class="third" ng-repeat="travel in ctrl.travels" >
            <img style="width:100%;" ng-src="{{ travel.img }}" alt="Travel Image">
            <h4>
                <span> Destination: </span>{{ travel.destination }}</h4>
            <h6>
                <span> Climate: </span> {{ travel.climate }} </h6>
            <h6>
                <span> Kid Friendly:</span> {{ travel.kid_friendly }}</h6>
            <p>
                <span> Dates: </span> {{ travel.dates }}</p>

            <p>
                <span></span> {{ travel.description }}</p>

    <div>
        <button href="/about"  ng-click="ctrl.showEdit( travel )">edit</button>
        <button ng-click="ctrl.deleteTravel( travel._id )">remove</button>

<input data-aos="slide-left" type="checkbox" ng-click="ctrl.flightsParisfunction()" ng-model="infoFlights"><span>View Flights</span>
<input data-aos="slide-right" type="checkbox" ng-click="ctrl.hotelsParisfunction()" ng-model="infoHotel"><span>View Hotels</span>

<div data-aos="flip-up"ng-show="infoFlights">
        <div >
            <!-- <div ng-repeat="travelInfo in ctrl.travelInfos"></div> -->
            <h6>Flights to {{ctrl.travelInfos}}</h6>
            <h6>Flights to {{ctrl.travelInfos}}</h6>
            <h6>Flights to {{ctrl.travelInfos}}</h6>



        </div>
</div>
<div data-aos="zoom-out" ng-show="infoHotel">
    <div>
    <!-- <div ng-repeat="travel in ctrl.travels"> -->
    <h6>{{ctrl.travelInfos[6].property_name}} at ${{ctrl.travelInfos[6].total_price.amount}}</h6>
    <h6>{{ctrl.travelInfos[7].property_name}} at ${{ctrl.travelInfos[7].total_price.amount}}</h6>
    <h6>{{ctrl.travelInfos[8].property_name}} at ${{ctrl.travelInfos[8].total_price.amount}}</h6>

    </div>
</div>



<!-- <div class='widget' data-origin-geo-lookup="true" data-skyscanner-widget="LocationWidget" data-currency="USD" data-whitelabeldomain="whitelabeldemo.skyscanner.net"
    data-destination-name="{{ travel.destination }}"></div> -->

    </div>
    </div>
</div>
